<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DealsShare - category</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body data-message="{{ message }}">
    <!-- Header / Top Menu -->
    <header>
        <a href="{{ url_for('home') }}">
            <div class="logo">DealsShare</div>
        </a>

        <div class="header-right">
            <div class="categories-menu">
                <button class="bar-button">Categories</button>
                {% set categories = [
                    {"name": "Home", "image": "uploads/image1.jpg"},
                    {"name": "Electronics", "image": "uploads/image2.jpg"},
                    {"name": "Clothing", "image": "uploads/image3.jpg"},
                    {"name": "Shoes", "image": "uploads/image4.jpg"},
                    {"name": "Toys", "image": "uploads/image5.jpg"},
                    {"name": "Kitchen", "image": "uploads/image6.jpg"},
                    {"name": "Sports", "image": "uploads/image7.jpg"},
                    {"name": "Office", "image": "uploads/image8.jpg"}
                ] %}

                <div class="mega-dropdown">
                    {% for cat in categories %}
                        <a href="{{ url_for('category', category_name=cat['name']) }}">
                            <img src="{{ url_for('static', filename=cat['image']) }}" class="menu-img">
                            {{ cat.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <a href="{{ url_for('add_product') }}">
                <button class="bar-button">Share products</button>
            </a>
            
            <a href="{{ url_for('home') }}">
                <!--home icon-->
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house-door bar-icon" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                </svg>
            </a>

            <a href="{{ url_for('favorites') }}">
                <!-- heart icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart bar-icon" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                </svg>
            </a>

            <div class="profile-menu"> 
                <!--profile icon-->
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle bar-icon" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>

                <div class="dropdown">
                    <a href="{{ url_for('profile') }}">My Profile</a>
                    {% if session.get('user_email') %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% set current_path = request.path %}
    {% set category_name = current_path.split('/')[-1] %}

    <div class="message-banner">
        <h1>Find best deals in {{ category_name }} category!</h1>
        <p></p>
    </div>

    <!-- Main Content -->
    <main class="container">
        {% for product in products %}
                <div class="product-card">
                    <div class="product-icons">
                        <form class="unstyled-form" method="POST" action="{{ url_for('update_favorite_status', product_id=product['id']) }}">
                            <button type="submit" class="unstyled-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart product-icon {% if product["is_favorite"] %}favorited{% endif %}" 
                                    data-product-id="{{ product['id'] }}" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                </svg>
                            </button>
                        </form>

                        <!-- Share container -->
                        <div class="share-dropdown">
                            <!-- Share icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-share product-icon" viewBox="0 0 16 16">
                                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                            </svg>

                            <!-- Dropdown menu with inline SVG icons -->
                            <div class="share-menu">
                                <!-- WhatsApp -->
                                <a href="https://api.whatsapp.com/send?text=http://127.0.0.1:5000/single_product/{{ product['id'] }}" target="_blank" title="Share on WhatsApp">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#25D366" class="product-icon" viewBox="0 0 24 24">
                                        <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.1-.472-.149-.672.15-.198.297-.767.967-.94 1.164-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.173.198-.298.298-.497.1-.198.05-.372-.025-.521-.075-.149-.672-1.611-.92-2.206-.242-.579-.487-.5-.672-.51l-.573-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.077 4.487.709.306 1.262.489 1.693.625.712.227 1.36.195 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.29.173-1.413-.074-.124-.272-.198-.57-.347z"/>
                                    </svg>
                                </a>

                                <!-- Twitter -->
                                <a href="https://twitter.com/intent/tweet?url=http://127.0.0.1:5000/single_product/{{ product['id'] }}" target="_blank" title="Share on Twitter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#1DA1F2" class="product-icon" viewBox="0 0 24 24">
                                        <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53A4.48 4.48 0 0 0 22.4.36a9.03 9.03 0 0 1-2.88 1.1 4.52 4.52 0 0 0-7.71 4.13A12.8 12.8 0 0 1 1.64 1.16 4.48 4.48 0 0 0 2.8 6.29a4.51 4.51 0 0 1-2-.55v.06a4.52 4.52 0 0 0 3.63 4.43 4.52 4.52 0 0 1-2 .08 4.53 4.53 0 0 0 4.23 3.14A9.05 9.05 0 0 1 1 19.54a12.77 12.77 0 0 0 6.92 2.03c8.3 0 12.84-6.87 12.84-12.83 0-.2 0-.39-.01-.58A9.18 9.18 0 0 0 23 3z"/>
                                    </svg>
                                </a>

                                <!-- Facebook -->
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:5000/single_product/{{ product['id'] }}" target="_blank" title="Share on Facebook">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#1877F2" class="product-icon" viewBox="0 0 24 24">
                                        <path d="M22.675 0h-21.35C.598 0 0 .598 0 1.325v21.351C0 23.403.598 24 1.325 24h11.495v-9.294H9.691v-3.622h3.129V8.413c0-3.1 1.894-4.788 4.66-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.796.715-1.796 1.763v2.312h3.587l-.467 3.622h-3.12V24h6.116c.728 0 1.326-.597 1.326-1.324V1.325C24 .597 23.403 0 22.675 0z"/>
                                    </svg>
                                </a>

                                <!-- Gmail Web -->
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=&su=Check+this+product&body=http://127.0.0.1:5000/single_product/{{ product['id'] }}" target="_blank" title="Share via Gmail">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#D44638" class="product-icon" viewBox="0 0 24 24">
                                        <path d="M12 12.713L0 4.5v15h24v-15l-12 8.213zm0-2.863L24 3H0l12 6.85z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <a href="{{ url_for('single_product', product_id=product['id']) }}">

                        <img src="{{ url_for('static', filename='uploads/' ~ product['image_url'].split('/')[-1]) }}" 
                            alt="{{ product['name'] }}" class="product-image">

                        <div class="">
                            {% set features_list = product["features"].split(",") if product["features"] else [] %}
                            {% set publish_date = product["publish_date"] | default('1970-01-01') %}
                            {% set days_since_publish = ( current_time  - publish_date).days %}

                            {% if days_since_publish >= 0 %}
                                <div class="badge sale-ending">Deal Ending Soon!</div>
                            {% endif %}
                            
                            <div class="product-info">
                                <h3 class="product-name">{{ product["name"] }}</h3>

                                {% if features_list %}
                                    <ul class="features-list">
                                        {% for feat in features_list %}
                                            <li>{{ feat.strip() }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if product["free_shipping"] %}
                                    <span class="free-shipping-label">Free Shipping</span>
                                {% endif %}

                                <div>
                                    <p class="regular-price"><strong>Regular Price:</strong> ₪ {{ product["regular_price"] }}</p>
                                    <p class="sale-price"><strong>Sale Price:</strong> ₪ {{ product["discount_price"] }}</p>
                                </div>

                                <!-- Seller Info -->
                                <div class="">
                                    <h5 class="seller-name"> seller: {{ product["seller_name"] }} </h5>
                                    {% set stars = product["seller_rating"]|round(0, 'floor')|int %}
                                    {% for i in range(5) %}
                                        {% if i < stars %}
                                            <!-- full star -->
                                            <svg class="star full card-star" viewBox="0 0 24 24">
                                                <path d="M12 .587l3.668 7.568L24 9.423l-6 5.847L19.336 24 12 19.897 4.664 24 6 15.27 0 9.423l8.332-1.268z"/>
                                            </svg>
                                        {% else %}
                                            <!-- empty star -->
                                            <svg class="star empty card-star" viewBox="0 0 24 24">
                                                <path d="M12 .587l3.668 7.568L24 9.423l-6 5.847L19.336 24 12 19.897 4.664 24 6 15.27 0 9.423l8.332-1.268z"/>
                                            </svg>
                                        {% endif %}
                                    {% endfor %}
                                    <a href="{{ product['product_link'] }}" target="_blank" rel="noopener noreferrer">
                                        <button class="btn">Buy Now</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        {% endfor %}
    </main>

    <!-- pagination Button -->
    <div class="pagination">
        {% if pagination_data["page"] > 1 %}
            <a href="{{ url_for('home', page=pagination_data["page"]-1) }}">&laquo; Previous</a>
        {% endif %}

        {% for p in range(1, pagination_data["total_pages"] + 1) %}
            {% if p == pagination_data["page"] %}
                <span class="current-page">{{ p }}</span>
            {% else %}
                <a href="{{ url_for('home', page=p) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if pagination_data["page"] < pagination_data["total_pages"] %}
            <a href="{{ url_for('home', page=pagination_data["page"]+1) }}">Next &raquo;</a>
        {% endif %}
    </div>

    <!-- popup container -->
    <div id="custom-popup" class="popup hidden">
        <div class="popup-content">
            <p id="popup-message"></p>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        &copy; 2025 DealsShare. All Rights Reserved.
    </footer>
</body>
</html>
