{% extends "base_page.html" %}
{% block title %}DealsShare - Edit user{% endblock %}

{% block Admin %}
<a href="{{ url_for('admin') }}" class="admin-float-btn">
    ⚙️ Admin
</a>
{% endblock %}

{% block sentence %}Edit user{% endblock %}

{% block content %}
<!-- form container -->
<div class="container">
    <form action="/edit_user" method="POST">
        <!-- Hidden field for user ID -->

        <label for="first_name">first name</label>
        <input type="text" id="first_name" name="first_name" value="{{ edited_user['first_name'] }}" required>

        <label for="last_name">last name</label>
        <input type="text" id="last_name" name="last_name" value="{{ edited_user['last_name'] }}" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ edited_user['email'] }}" readonly required>

        <label for="role">Role</label>
        <select id="role" name="role" required>
            <option value="user" {% if edited_user["role"] == 'user' %}selected{% endif %}>User</option>
            <option value="admin" {% if edited_user["role"] == 'admin' %}selected{% endif %}>Admin</option>
        </select>

        <button type="submit" class="btn">Save Changes</button>
    </form>
</div>
{% endblock %}
